c1{
    color:red;
    font-size: 60px;
    font-family: "SimSun";
}
c2{
    color:rgb(11, 121, 13);
    font-size: 20px;
    font-family: "KaiTi";
}
c3{
    color:rgb(172, 21, 199);
    font-size: 40px;
    font-family: "FangSong";
}
c3{
    color: rgba(10, 174, 158, 0.32);
    font-size: 40px;
}