html {
  margin: 0 auto;
}

/* 尝试响应式显示图片大小 */
@media (min-width:1000px) {

  #xiaohe_spaceship {
    width: 500px;
  }

  div.img {
    text-align: center;
  }

  article {
    background-color: #ffffff;
    border: 2px solid rgb(212, 209, 209);
    border-radius: 10px;
    box-shadow: 10px 10px 10px #afaeae;
    width: 850px;
    margin: 10px auto;
    padding: 10px 10px;
  }

  .icon-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(149, 139, 139);
    overflow: auto; /* 溢出浮动 */
  }

  .icon-bar a{
    float: right;
    text-align: center;
    width: auto;
    margin: 0px 10px;
    padding: 5px 5px; /* 上下内边距12px */
    color: #ffffff;
    font-size: 1.5rem;
  }

  .icon-bar a:hover{
    background-color: #000;
  }

  .active {
    background-color: rgb(43, 200, 66);
  }
}

@media (max-width:500px) {
  #xiaohe_spaceship {
    width: 300px;
  }


}

/* 页脚设置 */
footer {
  text-align: center;
  color: #aeaeae;
}

footer a:link{
  color: #aeaeae;
}

footer a:visited{
  color: #aeaeae;
}

footer a::after{
  content: "";
  display: inline-flex;
  -webkit-mask-box-image: url(../images/link.svg); /* 图像地址没写对调了半天 */
  -webkit-mask-size: cover;
  width: 10px;
  height: 10px;
  margin-left: 4px;
  background-color: #aeaeae;
}