html {
  margin: 0 auto;
}

/* 尝试响应式显示图片大小 */
@media (min-width:1000px) {

  #xiaohe_spaceship {
    width: 500px;
  }

  div.img {
    text-align: center;
  }

  article {
    background-color: #ffffff;
    border: 2px solid rgb(212, 209, 209);
    border-radius: 10px;
    box-shadow: 10px 10px 10px #afaeae;
    width: 850px;
    margin: 10px auto;
    padding: 10px 10px;
  }

  .icon-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(149, 139, 139);
    overflow: auto; /* 溢出浮动 */
  }

  .icon-bar a{
    float: right;
    text-align: center;
    width: 10%;
    padding: 5px 0; /* 上下内边距12px */
    color: #ffffff;
    font-size: 1.5rem;
  }

  .icon-bar a:hover{
    background-color: #000;
  }

  .active {
    background-color: rgb(43, 200, 66);
  }
}

@media (max-width:500px) {
  #xiaohe_spaceship {
    width: 300px;
  }


}


footer {
  text-align: center;
  color: #aeaeae;
}